<?xml version="1.0"?>
<connectionStrings>
  <add name="LibraryModel" connectionString="metadata=res://*/LibraryEntity.csdl|res://*/LibraryEntity.ssdl|res://*/LibraryEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=83.150.212.181;initial catalog=LibrarySystemDB;persist security info=True;user id=LibraryUser;password=LibraryUser*1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="elmah-sqlserver" connectionString="Data Source=83.150.212.181;User ID=LibraryUser;Password=LibraryUser*1;Initial Catalog=LibrarySystemDB;" providerName="System.Data.SqlClient" />
</connectionStrings>